<br>
<div class="container ">
    <div class="row " >

        <div class="col-sm-4 text-center">
            <div class="card mb-4 -shadow-sm">
                <div class="card-header">
                    <img class="mb-4" src="{{photoUser}}" alt="" width="200" height="220">
                </div>
                <div class="card-body">
                    <h4 class="card-title pricing-card-title text-muted">{{nameUser}}</h4>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Correo: {{emailUser}}</li>
                    </ul>
                </div>
            </div>
        </div>



        <div class="col-sm-4 text-center" >
            <div class="card mb-4 -shadow-sm background-container">
                <h5 class="text-claro"> Promedio Temperatura y Humedad</h5>
                <div class="notificacion" >
                    <span class="badge badge-pill badge-success"
                    *ngIf="!tempMinima && !tempMaxima
                            && !humMaxima && !humMinima">Good!</span>

                    <span class="badge badge-pill badge-success"
                    *ngIf="tempMinima && tempMaxima 
                            && humMaxima && humMinima">Bad!</span>
                </div>

                <canvas id="pie_th" width="8" height="5">{{dataTomate}}</canvas>

                <hr>

                <!-- Status de nuestra planta -->
                <div class="alerts">
                    <div class="alert alert-danger" role="alert" *ngIf="tempMaxima">
                        Temperatura muy alta, Cuidado! {{promTemperatura}}%
                    </div>

                    <div class="alert alert-danger" role="alert" *ngIf="tempMinima">
                        Temperatura muy baja, Cuidado! {{promTemperatura}}%
                    </div>

                    <div class="alert alert-info" role="alert" *ngIf="humMaxima">
                        Humedad esta muy alta, Cuidado! {{promHumedad}}%
                    </div>

                    <div class="alert alert-info" role="alert" *ngIf="humMinima">
                        Humedad esta muy baja, Cuidado! {{promHumedad}}%
                    </div>

                    <div class="alert alert-success" role="alert" *ngIf="!tempMaxima && !tempMinima">
                        Temperatura: {{promTemperatura}}%
                    </div>

                    <div class="alert alert-info" role="alert" *ngIf="!humMinima && !humMaxima">
                        Humedad: {{promHumedad}}%
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col text-center">
            <div class="card mb-4 -shadow-sm test">
                <h5 > Grafica Humedad y Temperatura</h5>
            <canvas id="temp_hum" width="5" height="2">{{dataTomate}}</canvas>
        </div>

    </div>

</div>